/* Global theme */

@import "tailwindcss";

/* Theme of website */

:root {
  --color-bg: var(--color-gray-950);
  --color-surface: var(--color-gray-900);
  --color-text: var(--color-slate-50);
  --color-muted: #a1a1aa;
  --color-accent: #3b82f6;

  --color-card: #1e293b;
  --color-border: #475569;
}

html,
body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
