/* Global theme */

@import "tailwindcss";

/* Theme of website */
@theme {
  --color-bg: var(--color-gray-950);
  --color-text: var(--color-gray-100);
  --color-muted: var(--color-gray-400);
}

:root {
  background-color: var(--color-bg);
}
